USE [HR_Module]
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCurrentSession]    Script Date: 5/17/2025 11:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_UpdateCurrentSession]

	@Fk_EmpId int

as
begin
		update dbo.Tbl_AttendanceMaster

		set EndDate = null
		where Fk_EmpId = @Fk_EmpId and cast(StartDate AS Date) = Cast(GetDate() as Date)
end