<app-header (sidebarToggle)="toggleSidebar()"></app-header>

<div
  class="d-flex flex-column sidebar bg-primary text-white p-3"
  [class.sidebar-collapsed]="!sidebarVisible"
>
  <!-- Profile Section -->
  <div *ngIf="user" class="text-center mb-4">
    <img
      [src]="imageSrc"
      *ngIf="imageSrc"
      alt="Profile Image"
      class="rounded-circle mb-2"
      width="80"
      height="80"
    />
    <h2 class="mb-0">{{ user.name }}</h2>
    <small class="text-white">{{ user.designationName }}</small>
  </div>

  <!-- Notification -->
  <a
    routerLink="/notification"
    routerLinkActive="active-link"
    class="sidebar-link mb-2 position-relative d-flex align-items-center"
  >
    <span class="position-relative">
      <i
        class="fas fa-bell me-2"
        [ngClass]="{ 'text-danger': unreadCount > 0 }"
      ></i>

      <span
        *ngIf="unreadCount > 0"
        class="badge bg-danger position-absolute top-0 start-100 translate-middle p-1 rounded-circle"
        style="font-size: 0.6rem"
      >
        {{ unreadCount }}
      </span>
    </span>

    Notifications
  </a>

  <!-- Dashboard -->
  <a
    routerLink="/dashboard"
    routerLinkActive="active-link"
    class="sidebar-link mb-2"
  >
    <i class="fas fa-tachometer-alt me-2"></i> Dashboard
  </a>
     <!-- Admin -->
    <div
      class="accordion-item bg-transparent border-0"
      *ngIf="userRole === 'Admin'"
    >
      <a
        routerLink="/admin"
        routerLinkActive="active-link"
        class="sidebar-link mb-2"
      >
        <i class="fas fa-user-shield me-2"></i> Admin
      </a>
    </div>

  <!-- Accordion -->
  <div class="accordion accordion-flush" id="sidebarMenu" #sidebarMenu>
    <!-- Profile -->
    <div class="accordion-item bg-transparent border-0">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed bg-transparent text-white d-flex justify-content-between align-items-center"
          type="button"
          aria-expanded="false"
          aria-controls="profileMenu"
          (click)="toggleProfileMenu()"
        >
          <span class="d-flex align-items-center">
            <i class="fas fa-user me-2"></i>Profile
          </span>
          <!-- <i class="fas fa-chevron-down text-white"></i> -->
        </button>
      </h2>
      <div
        id="profileMenu"
        #profileMenu
        class="accordion-collapse collapse"
        data-bs-parent="#sidebarMenu"
      >
        <div class="accordion-body ps-4">
          <a
            routerLink="/changePassword"
            class="sidebar-link-text sidebar-link d-block mb-2"
          >
            <i class="fas fa-lock me-2"></i> Change Password
          </a>
          <a
            routerLink="/logout"
            class="sidebar-link-text sidebar-link d-block"
            (click)="logout()"
          >
            <i class="fas fa-sign-out-alt me-2"></i> Log Out
          </a>
        </div>
      </div>
    </div>

    <!-- Masters -->
    <div class="accordion-item bg-transparent border-0">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed bg-transparent text-white d-flex justify-content-between align-items-center"
          type="button"
          aria-expanded="false"
          aria-controls="mastersMenu"
          (click)="toggleMastersMenu()"
        >
          <span class="d-flex align-items-center">
            <i class="fas fa-cogs me-2"></i> Masters
          </span>
        </button>
      </h2>
      <div
        id="mastersMenu"
        #mastersMenu
        class="accordion-collapse collapse"
        data-bs-parent="#sidebarMenu"
      >
        <div class="accordion-body ps-4">
          <a
            routerLink="/employee"
            class="sidebar-link-text sidebar-link d-block mb-2"
            *ngIf="userRole === 'HR'"
          >
            <i class="fas fa-user-tie me-2"></i> Employee Master
          </a>

          <a
            routerLink="/holiday"
            class="sidebar-link-text sidebar-link d-block mb-2"
          >
            <i class="fas fa-calendar-alt me-2"></i> Holiday Calendar
          </a>

          <a
            routerLink="/settings"
            class="sidebar-link-text sidebar-link d-block mb-2"
            *ngIf="userRole === 'HR' || userRole === 'Admin'"
          >
            <i class="fas fa-cog me-2"></i> Settings
          </a>

          <a
            routerLink="/team-composition"
            class="sidebar-link-text sidebar-link d-block mb-2"
            *ngIf="userRole === 'HR'"
          >
            <i class="fas fa-users-cog me-2"></i> Team Composition
          </a>

          <a routerLink="/gmc" class="sidebar-link-text sidebar-link d-block">
            <i class="fas fa-briefcase-medical me-2"></i> GMC
          </a>
        </div>
      </div>
    </div>

    <!-- HR -->
    <div
      class="accordion-item bg-transparent border-0"
      *ngIf="userRole === 'HR'"
    >
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed bg-transparent text-white d-flex justify-content-between align-items-center"
          type="button"
          aria-expanded="false"
          aria-controls="hrMenu"
          (click)="toggleHrMenu()"
        >
          <span class="d-flex align-items-center">
            <i class="fas fa-briefcase me-2"></i> HR
          </span>
        </button>
      </h2>
      <div
        id="hrMenu"
        #hrMenu
        class="accordion-collapse collapse"
        data-bs-parent="#sidebarMenu"
      >
        <div class="accordion-body ps-4">
          <!-- <a
            routerLink="/timesheetupdate"
            class="sidebar-link-text sidebar-link d-block mb-2"
            ><i class="fas fa-calendar-plus me-2"></i>Timesheet
          </a> -->

          <a
            routerLink="/dailyreport"
            class="sidebar-link-text sidebar-link d-block mb-2"
            ><i class="fas fa-clipboard me-2"></i>Daily Report</a
          >
          <a
            routerLink="/employee-attendance-report"
            class="sidebar-link-text sidebar-link d-block mb-2"
            ><i class="fas fa-clipboard-user me-2"></i>Employee Attendance
            Report</a
          >

          <a
            routerLink="/attendance"
            class="sidebar-link-text sidebar-link d-block mb-2"
            ><i class="fas fa-calendar-plus me-2"></i>Attendance
          </a>
        </div>
      </div>
    </div>
    <!-- Team Leader -->
    <div
      class="accordion-item bg-transparent border-0"
      *ngIf="userRole === 'Team Lead'"
    >
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed bg-transparent text-white d-flex justify-content-between align-items-center"
          type="button"
          aria-expanded="false"
          aria-controls="hrMenu"
          (click)="toggleHrMenu()"
        >
          <span class="d-flex align-items-center">
            <i class="fas fa-briefcase me-2"></i> TL
          </span>
        </button>
      </h2>
      <div
        id="hrMenu"
        #hrMenu
        class="accordion-collapse collapse"
        data-bs-parent="#sidebarMenu"
      >
        <div class="accordion-body ps-4">
          <a
            routerLink="/work-timesheet"
            class="sidebar-link-text sidebar-link d-block mb-2"
            ><i class="fas fa-calendar-plus me-2"></i>Create Project
          </a>

          <a
            routerLink="/assigned-timesheet"
            class="sidebar-link-text sidebar-link d-block mb-2"
            ><i class="fas fa-clipboard me-2"></i>View Projects</a
          >
        </div>
      </div>
    </div>

 
  </div>
</div>
