<!-- <ng-container *ngIf="!hideLayout">
  <app-header></app-header>
  <app-lef-side-nav (sidebarToggled)="onSidebarToggled($event)"></app-lef-side-nav>
</ng-container>

<div class="main-content" [ngStyle]="{ 'margin-left': (!hideLayout && isSidebarOpen) ? '250px' : '0' }">
  <router-outlet></router-outlet>
</div> -->
<ng-container *ngIf="!hideLayout">
  <app-header></app-header>
  <app-lef-side-nav (sidebarToggled)="onSidebarToggled($event)"></app-lef-side-nav>
</ng-container>

<!-- Main content with dynamic margin -->
<div
  class="main-content"
  [ngStyle]="{
    'margin-left': !hideLayout && isSidebarVisible ? '250px' : '0',
    'transition': 'margin-left 0.3s ease'
  }"
>
  <router-outlet></router-outlet>
</div>
