ALTER PROCEDURE [dbo].[SP_GetAllDailyReports]
AS
BEGIN
    SELECT 
        E.Code,
        E.Name,
        D.DepartmentName,
        A.StartDate,
        A.EndDate
    FROM Tbl_AttendanceMaster A
    INNER JOIN Tbl_Employee_master E ON A.Fk_EmpId = E.Id
    INNER JOIN Tbl_DepartmentMaster D ON E.Fk_DepartmentId = D.DepartmentId

END;

exec SP_GetAllDailyReports