<div class="otp-container">
    <form action="" style="background-color: rgb(159, 160, 212);">

        <h2>Enter OTP</h2>
        <div class="otp-inputs">
            <input type="text" maxlength="1" [(ngModel)]="otp[0]" (input)="autoFocusNext($event, 0)" />
            <input type="text" maxlength="1" [(ngModel)]="otp[1]" (input)="autoFocusNext($event, 1)" />
            <input type="text" maxlength="1" [(ngModel)]="otp[2]" (input)="autoFocusNext($event, 2)" />
            <input type="text" maxlength="1" [(ngModel)]="otp[3]" (input)="autoFocusNext($event, 3)" />
          </div> <br>
          <button (click)="submitOtp()">Submit OTP</button> <br>
          <button (click)="resendOtp()" class="resend-btn">Resend OTP</button>
        
    </form>
  </div>