USE [HrModule]
GO
/****** Object:  StoredProcedure [dbo].[SP_EmployeeGetByEmail]    Script Date: 5/7/2025 11:50:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[SP_EmployeeGetByEmail]
    @Email varchar(50)
AS
BEGIN
    SELECT 
        Id,
        Name,
        Code,
        Address,
        MobileNo,
        SkypeId,
        JoinDate,
        Email,
        BccEmail,
        PanNumber,
        BirthDate,
        Image,
        Signature,
        LoginStatus,
        LeftCompany,
        LeftDate,
        Fk_LocationId,
        Fk_DesignationId,
        Fk_ShiftId,
        Fk_EmployeeTypeId,
        Fk_UserGroupId,
        Fk_BranchId,
        Fk_DivisionId
		
    FROM Tbl_Employee_master
    WHERE Email = @Email;
END

EXEC SP_EmployeeGetByEmail 'aarav.mehta@example.com'
