USE [HrModule]
GO
/****** Object:  StoredProcedure [dbo].[SP_Employee_insert]    Script Date: 4/24/2025 5:23:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_Employee_insert]
    @Name VARCHAR(20),
    @Code VARCHAR(20),
	@Address varchar(250) null,
	@MobileNo varchar(20),
	@SkypeId varchar(20) null,
	@JoinDate DateTime2 ,
	@Email varchar(50),
	@BccEmail varchar(50) null,
	@PanNumber varchar(20),
	@BirthDate dateTime null,
	@Image varbinary(max) null,
	@Signature varbinary(max) null,

	@Fk_LocationId int,
	
AS
BEGIN
    INSERT INTO Tbl_Employee_master (Name, Code, Address, MobileNo, SkypeId, JoinDate, Email, BccEmail, PanNumber,Birthdate,Image,
	Signature, Fk_LocationId
	 )

    VALUES (@Name, @Code, @Address, @MobileNo, @SkypeId, @JoinDate, @Email, @BccEmail, 
	@PanNumber, @Birthdate,@Image,@Signature, @LoginStatus,  @fk_LocationId
	);
END;

select * from Tbl_Employee_master