<div class="change-password-form">
  <h3>Change Password</h3>
  <hr />
  <form (ngSubmit)="onChangePassword(changePasswordForm)" #changePasswordForm="ngForm">
    
    <!-- Old Password -->
    <div class="form-group">
      <label for="oldPassword">Old Password:</label>
      <input
        id="oldPassword"
        type="password"
        name="oldPassword"
        [(ngModel)]="passwordModel.oldPassword"
        placeholder="Enter Old Password"
        required
        #oldPasswordRef="ngModel"
      />
      <div *ngIf="oldPasswordRef.invalid && oldPasswordRef.touched">
        <small>Password is required.</small>
      </div>
    </div>

    <!-- New Password -->
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <div class="password-input">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="passwordModel.newPassword"
          placeholder="Enter New Password"
          required
          minlength="6"
          pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\\d).{6,}$"
          #newPasswordRef="ngModel"
        />
        <button type="button" (click)="togglePasswordVisibility()" class="eye-btn">
          <i class="fa fa-eye"></i>
        </button>
      </div>
      <div *ngIf="newPasswordRef.invalid && newPasswordRef.touched">
        <small *ngIf="newPasswordRef.errors?.['required']"  style="color: red;" >Password is required.</small>
        <small *ngIf="newPasswordRef.errors?.['minlength']"  style="color: red;">Min 6 characters.</small>
        <small *ngIf="newPasswordRef.errors?.['pattern']" style="color: red;">
          Must contain uppercase, lowercase, and number.
        </small>
      </div>
      
    </div>

    <!-- Confirm Password -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input
        id="confirmPassword"
        type="password"
        name="confirmPassword"
        [(ngModel)]="passwordModel.confirmPassword"
        placeholder="Re-type the same password"
        required
        #confirmPasswordRef="ngModel"
      />
      <div *ngIf="confirmPasswordRef.touched && passwordModel.confirmPassword !== passwordModel.newPassword">
        <small  style="color: red;">Passwords do not match.</small>
      </div>
    </div>

    <!-- Submit Button -->
    <button 
      type="submit"
      class="submit-btn"
      [disabled]="
        changePasswordForm.invalid || passwordModel.confirmPassword !== passwordModel.newPassword
      "
    >
      Change Password
    </button>

  </form>
</div>
