<div class="container mt-5 d-flex justify-content-center">
    <div class="change-password-card">
      <h5 class="mb-3 text-center">Change Password</h5>
      <form (ngSubmit)="onChangePassword()" #passwordForm="ngForm">
        
        <!-- Old Password -->
        <div class="mb-3">
          <label for="oldPassword" class="form-label">Old Password</label>
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            class="form-control"
            [(ngModel)]="passwordData.oldPassword"
            required
          />
          <i
    class="fa-solid"
    [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"
    (click)="showOldPassword = !showOldPassword"
    class="toggle-password"
  ></i>
        </div>
  
        <!-- New Password -->
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            class="form-control"
            [(ngModel)]="passwordData.newPassword"
            required
          />
          <i
          class="fa-solid"
          [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="showNewPassword = !showNewPassword"
          class="toggle-password"
        ></i>
        </div>
  
        <!-- Confirm Password -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control"
            [(ngModel)]="passwordData.confirmPassword"
            required
          />
          <i
    class="fa-solid"
    [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
    (click)="showConfirmPassword = !showConfirmPassword"
    class="toggle-password"
  ></i>
        </div>
  
        <!-- Button -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="!passwordForm.form.valid">
          Change Password
        </button>
  
      </form>
    </div>
  </div>
  