<div class="change-password-form">
  <h3>Change Password</h3>
  <hr />
  <form (ngSubmit)="onChangePassword(changePasswordForm)" #changePasswordForm="ngForm">
    <div class="form-group">
      <label for="oldPassword">Old Password:</label>
      <input id="oldPassword" type="password" name="oldPassword" [(ngModel)]="passwordModel.oldPassword"
        placeholder="Enter Old Password" required />
    </div>

    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <div class="password-input">
        <input [type]="showOldPassword ? 'text' : 'password'" id="newPassword" name="newPassword"
          [(ngModel)]="passwordModel.newPassword" placeholder="Enter New Password" required />
        <button type="button" (click)="togglePasswordVisibility()" class="eye-btn">
          <i class="fa fa-eye"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input [type]="showNewPassword ?'password' : 'text'" name="newPassword" [(ngModel)]="passwordModel.newPassword"
        placeholder="Enter New Password" required minlength="6"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^a-zA-Z\d\s])[^\s]+$" #newPasswordRef="ngModel" />
      <button type="button" (click)="togglePasswordVisibility()" class="eye-btn">
        <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
    <div *ngIf="newPasswordRef.invalid && newPasswordRef.touched">
      <small *ngIf="newPasswordRef.errors?.['required']" class="text-danger">*Password is required.</small>
      <small *ngIf="newPasswordRef.errors?.['minlength']" class="text-danger">*Min 6 characters.</small>
      <small *ngIf="newPasswordRef.errors?.['pattern']" class="text-danger">
        *Must include uppercase, lowercase, and a number.
      </small>
    </div>


    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <div class="password-input">
        <input [type]="showConfirmPassword ?'password' : 'text'" id="confirmPassword" type="password"
          name="confirmPassword" [(ngModel)]="passwordModel.confirmPassword" placeholder="Re-type the same password"
          required />
      </div>

      <button type="submit" class="submit-btn">Change Password</button>
    </div>
  </form>
</div>
