<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="container mt-5">
    <div class="card shadow-lg rounded-4 p-4 border-0">
      <h3 class="mb-4 text-primary border-bottom pb-2">
        👤 Employee Registration
      </h3>

      <!-- 1. Personal Information -->
      <div class="mb-4">
        <h5 class="text-secondary">📝 Personal Details</h5>
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Full Name</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="name"
              placeholder="Enter full name"
            />
            <div
              class="text-danger small mt-1"
              *ngIf="employeeForm.get('name')?.touched"
            >
              <div *ngIf="employeeForm.get('name')?.hasError('required')">
                Name is required.
              </div>
              <div *ngIf="employeeForm.get('name')?.hasError('pattern')">
                Only letters and spaces are allowed.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">Date of Birth</label>
            <input
              type="date"
              class="form-control"
              formControlName="birthDate"
              [max]="today"
            />
            <div
              class="text-danger small mt-1"
              *ngIf="employeeForm.get('birthDate')?.hasError('minAge')"
            >
              Employee must be at least 18 years old.
            </div>
          </div>
        </div>
      </div>

      <!-- 2. Employment Details -->
      <div class="mb-4">
        <!-- <h5 class="text-secondary">💼 Employment Details</h5> -->
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Join Date</label>
            <input
              type="date"
              class="form-control rounded-pill"
              formControlName="joinDate"
              [max]="today"
            />
            <div
              class="text-danger small mt-1"
              *ngIf="
                employeeForm.get('joinDate')?.touched &&
                employeeForm.get('joinDate')?.hasError('required')
              "
            >
              Join date is required.
            </div>
          </div>

          <div class="col-md-6">
            <div class="col-md-6 form-group">
              <label for="panNumber">PAN Number</label>
              <input
                type="text"
                id="panNumber"
                class="form-control"
                formControlName="panNumber"
                placeholder="Enter PAN number"
              />
              <div
                *ngIf="
                  employeeForm.get('panNumber')?.invalid &&
                  (employeeForm.get('panNumber')?.touched ||
                    employeeForm.get('panNumber')?.dirty)
                "
                class="text-danger small"
              >
                <div *ngIf="employeeForm.get('panNumber')?.errors?.['pattern']">
                  PAN must be in format ABCDE1234F.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 3. Contact Info -->
      <div class="mb-4">
        <!-- <h5 class="text-secondary">📞 Contact Information</h5> -->
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control rounded-pill"
              formControlName="email"
              placeholder="Enter Email"
            />
            <div
              class="text-danger small mt-1"
              *ngIf="employeeForm.get('email')?.touched"
            >
              <div *ngIf="employeeForm.get('email')?.hasError('required')">
                Email is required.
              </div>
              <div *ngIf="employeeForm.get('email')?.hasError('email')">
                Enter a valid email.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">Mobile Number</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="mobileNo"
              placeholder="Enter Mobile No"
            />
            <div
              class="text-danger small mt-1"
              *ngIf="employeeForm.get('mobileNo')?.touched"
            >
              <div *ngIf="employeeForm.get('mobileNo')?.hasError('required')">
                Mobile number is required.
              </div>
              <div *ngIf="employeeForm.get('mobileNo')?.hasError('pattern')">
                Enter a valid 10-digit mobile number.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">Skype ID</label>
            <input
              type="text"
              class="form-control rounded-pill"
              formControlName="skypeId"
            />
            <div
              class="text-danger small mt-1"
              *ngIf="
                employeeForm.get('skypeId')?.touched &&
                employeeForm.get('skypeId')?.hasError('required')
              "
            >
              Skype ID is required.
            </div>
          </div>
        </div>
      </div>
      <!-- 5. Login & Files -->
      <div class="mb-4">
        <!-- <h5 class="text-secondary">🔐 Login & Attachments</h5> -->
        <div class="row g-3 align-items-center">
          <div class="col-md-6">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="loginStatus"
                id="loginStatus"
              />
              <label class="form-check-label" for="loginStatus"
                >Login Active</label
              >
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">Profile Image</label>
            <input
              type="file"
              class="form-control"
              (change)="onFileChange($event, 'image')"
              accept="image/*"
            />

            <!-- Validation error message -->
            <div *ngIf="fileErrors.image" class="text-danger mt-1">
              Only JPG and PNG image files are allowed.
            </div>

            <!-- Preview -->
            <div
              class="mt-2"
              *ngIf="employeeForm.value.image && !fileErrors.image"
            >
              <img
                [src]="'data:image/jpeg;base64,' + employeeForm.value.image"
                class="rounded border shadow"
                style="width: 80px; height: 80px"
              />
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label">Signature</label>
            <input
              type="file"
              class="form-control"
              (change)="onFileChange($event, 'signature')"
              accept="image/*"
            />

            <!-- Validation error message -->
            <div *ngIf="fileErrors.signature" class="text-danger mt-1">
              Only JPG and PNG image files are allowed.
            </div>

            <!-- Preview -->
            <div
              class="mt-2"
              *ngIf="employeeForm.value.signature && !fileErrors.signature"
            >
              <img
                [src]="'data:image/png;base64,' + employeeForm.value.signature"
                class="rounded border shadow"
                style="width: 80px; height: 80px"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- 4. Address Details -->
      <div class="mb-4">
        <h5 class="text-secondary">🏠 Address Information</h5>
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Country</label>
            <select formControlName="CountryId" class="form-select">
              <option *ngFor="let c of countries" [value]="c.id">
                {{ c.name }}
              </option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label">State</label>
            <select formControlName="StateId" class="form-select">
              <option *ngFor="let s of filteredStates" [value]="s.id">
                {{ s.name }}
              </option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label">City</label>
            <select formControlName="CityId" class="form-select">
              <option *ngFor="let city of filteredCities" [value]="city.id">
                {{ city.name }}
              </option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label">Location</label>
            <select class="form-select" formControlName="locationId">
              <option value="">Select</option>
              <option *ngFor="let loc of locations" [value]="loc.id">
                {{ loc.name }}
              </option>
            </select>
            <div
              class="text-danger small mt-1"
              *ngIf="
                employeeForm.get('locationId')?.touched &&
                employeeForm.get('locationId')?.hasError('required')
              "
            >
              Location is required.
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">Address</label>
            <textarea
              rows="2"
              class="form-control"
              formControlName="address"
              placeholder="Enter Address"
            ></textarea>
            <div
              class="text-danger small mt-1"
              *ngIf="
                employeeForm.get('address')?.touched &&
                employeeForm.get('address')?.hasError('required')
              "
            >
              Address is required.
            </div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary btn-lg me-2">
          <i class="bi bi-save"></i> Save
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary btn-lg"
          (click)="resetForm()"
        >
          <i class="bi bi-arrow-repeat"></i> Reset
        </button>
        <button type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
