/* .bg-light-gray {
    background-color: #cccccc !important;
  } */

  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0 30px;
  }
  table,td,th {
    text-align: center;
    padding: .5rem 0;
    /* max-height: 30px !important; */

  }
  ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items{
    background-color: #ffffff !important;
    border-radius: 10px !important;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important; */
    padding: 1rem !important;
    font-size: large !important;
    color: #000 !important;
    margin-top: 7px !important;
    margin-left: -10px !important;
    width: 355px !important;
  }
  ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    background-color: #5b7cfd;
    padding: 6px;
    color: white;
    border-radius: 5px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    margin: 1px;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
}
::ng-deep .ng-select .ng-clear-wrapper .ng-clear{
    font-size: 25px !important;
}

  ::ng-deep .ng-dropdown-panel::-webkit-scrollbar-track {
    background: #5b7cfd; 
  }
  .head-first,.head-last,.head-other{
    width: 100% !important;
    height: 100% !important;
    background-color: #edeff3;
    padding: 1rem;

  }
  .head-first{
    border-top-left-radius: 0.7rem !important;
    border-bottom-left-radius: 0.7rem !important;
  }
  .head-last{
    border-top-right-radius: 0.7rem !important;
    border-bottom-right-radius: 0.7rem !important;
  }
  .tr-first-child,.tr-last-child,.tr-other-child{
    width: 100% !important;
    height: 100% !important;
    background-color: white !important;
    padding: 1rem;
    font-size: large;

  }
  .tr-first-child {
    border-top-left-radius: 0.7rem !important;
    border-bottom-left-radius: 0.7rem !important;
  }
  .tr-last-child {
    display: flex;
    justify-content: center; /* or flex-start / space-around depending on preference */
    gap: 0.5rem; /* space between buttons */
    padding: 1rem;
    background-color: white !important;
    border-top-right-radius: 0.7rem !important;
    border-bottom-right-radius: 0.7rem !important;
  }
  tr:hover > td > div{
    transition: all 0.3s ease;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  /* td:first-child(), th:first-child() {
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
  }
  tr:last-child(), th:last-child() {
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
  } */

  .form-select{
    background-color: transparent !important;
    border: 1px solid #ccc !important;

  }
  
  .status-badge {
    padding: 10px 20px;
    font-size: 0.75rem;
    border-radius: 10px;
    color: #fff;
  }
  .inactive-row td > div {
    background-color: #c5c5c5 !important; 
    color: #817070 !important;            /* Dark red text */
  }
  
  
  .status-badge.active {
    background-color: #c5edee; /* green */
    color: #59aaa9;
  }
  
  .status-badge.inactive {
    background-color: #beb5b5;
    color: #817070;
  }
  
  /* .edit-btn {
    background-color: #f3f4f6;
    border: none;
    color: #444;
    padding: 0.3rem 0.6rem;
    border-radius: 6px;
    transition: background-color 0.2s ease;
  } */
  .custom-add-btn{
    background-color: #5b7cfd;
    color: white;

  }
  .custom-add-btn:hover{
    box-shadow: #555 0px 0px 10px;
  }
  .custom-excel-btn{
    background-color: #c5edee;
    color: #59aaa9;

  }
  .custom-excel-btn:hover{
    box-shadow: #cccccc 0px 0px 10px;
    border: #59aaa9 1px solid;
  }
  .edit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding: 6px 12px; */
    border: none;
    border-radius: 6px;
    color: #444;
    transition: background-color 0.2s ease;
  }
  .edit-btn:hover {
    background-color: #e2e8f0;
    color: #000;
  }
  .row{
    margin-left: 40px;
    margin-right: 40px;
  }
  .entries-dropdown {
    display: flex;
    align-items: center;
    gap: 3px;
    /* margin-bottom: 16px; */
    font-size: 14px;
    /* margin-left: 55px; */
    font-weight: bold;

  }
  .entries-dropdown select {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #ccc;
  }
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
    border-radius: 8px; */
  }

  .modal-header{
    background-color: #5b7cfd !important;
    color: white !important;
  }



  .modal-body {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 20px;
  }
  
  .input-icon-group {
    position: relative;
  }
  
  .input-icon-group i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 1rem;
  }
  
  .input-icon-group .form-control,
  .input-icon-group .form-select {
    padding-left: 2.2rem;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input-icon-group .form-control:focus,
  .input-icon-group .form-select:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
  
  .btn {
    border-radius: 8px;
    padding: 8px 16px;
  }
  .ebtn{
    border-radius: 8px;
    height: 30px;

  }
  
  .btn-success i, .btn-secondary i {
    margin-right: 6px;
  }
  

  .is-invalid {
    border-color: #dc3545;
  }

  