<div class="container mt-4">
    <div class="mb-3 row align-items-center">

        <!-- Show Entries Dropdown -->
        <div class="col-md-2">
          <div class="entries-dropdown d-flex align-items-center">
            <label for="entries" class="me-1">Show</label>
            <select id="entries" class="" [(ngModel)]="itemsPerPage">
              <option *ngFor="let option of itemsPerPageOptions" [value]="option">
                {{ option }}
              </option>
            </select>
            <span class="ms-1">Entries</span>
          </div>
        </div>
    
        <!-- Branch Dropdown -->
        <div class="col-md-2">
          <select class="form-select" (change)="onBranchChange($event)">
            <option [value]="" selected>All Branches</option>
            <option *ngFor="let branch of branches" [value]="branch.branchId">
              {{ branch.branchName }}
            </option>
          </select>
        </div>
    
        <!-- Division Dropdown -->
        <div class="col-md-2">
          <select class="form-select" (change)="onDivisionChange($event)">
            <option [value]="" selected>All Divisions</option>
            <option *ngFor="let division of divisions" [value]="division.divisionId">
              {{ division.divisionName }}
            </option>
          </select>
        </div>
    
        <!-- Export to Excel -->
        <div class="col-md-1">
          <button class="btn custom-excel-btn" (click)="exportToExcel()">
            <i class="fas fa-file-csv"></i>
          </button>
        </div>
    
        <!-- Search Input -->
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-text" style="background-color: transparent;">
              <i class="fas fa-search"></i>
            </span>
            <input type="text"
                   id="search"
                   class="form-control"
                   placeholder="Search Team"
                   [(ngModel)]="searchText"
                   (ngModelChange)="filterTeams()"
                   style="background-color: transparent;">
          </div>
        </div>
    
        <!-- Add Team Button -->
        <div class="col-md-2 text-end">
          <button class="btn custom-add-btn" data-bs-toggle="modal" data-bs-target="#teamModal" (click)="openAddModal()">
            + Add Team
          </button>
        </div>
    
      </div>

    <!-- Modal -->
    <div class="modal fade" id="teamModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">{{ isEditMode ? 'Edit Team' : 'Add New Team' }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form [formGroup]="teamForm" (ngSubmit)="onSubmit()" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Team Name:</label>
                            <input type="text" formControlName="teamName" class="form-control" />
                            <div class="text-danger" *ngIf="teamForm.get('teamName')?.touched && teamForm.get('teamName')?.hasError('required')">
                                Team Name is required.
                              </div>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Branch:</label>
                            <select class="form-select" formControlName="fk_BranchId">
                                <option value="">All Branches</option>
                                <option *ngFor="let branch of branches" [value]="branch.branchId">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="teamForm.get('fk_BranchId')?.touched && teamForm.get('fk_BranchId')?.hasError('required')">
                                Branch is required.
                              </div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Division:</label>
                            <select class="form-select" formControlName="fk_DivisionId">
                                <option value="">All Divisions</option>
                                <option *ngFor="let division of divisions" [value]="division.divisionId">
                                    {{ division.divisionName }}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="teamForm.get('fk_DivisionId')?.touched && teamForm.get('fk_DivisionId')?.hasError('required')">
                                Division is required.
                              </div>
                        </div>

                        <div class="col-md-12">
                            <label for="teamLeader" class="form-label">Team Leader</label>
                            <select id="teamLeader" class="form-select" formControlName="fk_TeamLeaderId">
                                <option value="">All Team Leaders</option>
                                <option *ngFor="let leader of teamLeaders" [value]="leader.id">
                                    {{ leader.name }}
                                </option>
                            </select>
                            <div class="text-danger" *ngIf="teamForm.get('fk_TeamLeaderId')?.touched && teamForm.get('fk_TeamLeaderId')?.hasError('required')">
                                Team Leader is required.
                              </div>
                        </div>

                        <div class="col-md-12">
                            <label class="form-label">Team Members:</label>
                            <ng-select class="form-select" [items]="employeeList" bindLabel="name" bindValue="id" [multiple]="true"
                                 placeholder="Select Employees" formControlName="teamMembers">
                            </ng-select>
                            <div class="text-danger" *ngIf="teamForm.get('teamMembers')?.touched && teamForm.get('teamMembers')?.hasError('required')">
                                At least one Team Member is required.
                              </div>
                        </div>


                        <div class="col-12" *ngIf="isEditMode">
                            <label for="teamStatus" class="form-label">Status:</label>
                            <div class="input-icon-group">
                                <i class="fas fa-toggle-on"></i>
                                <select id="teamStatus" name="teamStatus" class="form-control"
                                    formControlName="teamStatus">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-success" type="submit" [disabled]="teamForm.invalid">
                                {{ isEditMode ? 'Update' : 'Add' }}
                            </button>
                            <button class="btn btn-secondary ms-2" type="button" (click)="resetForm()"
                                data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- View Modal -->
    <div class="modal fade" id="viewteamModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">View Team Members</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <form [formGroup]="viewteamForm" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Team Name:</label>
                            <input type="text" formControlName="teamName" class="form-control" />
                        </div>

                        <!-- <div class="col-md-12">
                            <label class="form-label">Team Members:</label>
                            <ng-select class="form-select" [items]="employeeList" bindLabel="name" bindValue="id" [multiple]="true"
                                 placeholder="No Employees" formControlName="teamMembers">
                            </ng-select>

                        </div> -->
                        
                          

                        <div class="col-md-12">
                            <label for="teamLeader" class="form-label">Team Leader</label>
                            <select id="teamLeader" class="form-select" formControlName="fk_TeamLeaderId" [attr.disabled]="true">
                                <option value="">All Team Leaders</option>
                                <option *ngFor="let leader of teamLeaders" [value]="leader.id">
                                    {{ leader.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Team Members:</label>
                            <div *ngIf="viewteamForm.get('teamMembers')?.value?.length > 0; else noMembers">
                              <ul class="list-group">
                                <li class="list-group-item" *ngFor="let memberId of viewteamForm.get('teamMembers')?.value">
                                 <i class="fas fa-user"></i>
                                  {{ getEmployeeName(memberId) }}
                                </li>
                              </ul>
                            </div>
                            <ng-template #noMembers>
                              <p class="text-muted">No team members selected</p>
                            </ng-template>
                          </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-secondary ms-2" type="button" (click)="resetForm()"
                                data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="row gy-4" *ngIf="teamCompositions && teamCompositions.length > 0;">
        <div class="col-12">
            <div>
                <table class="mb-0">
                    <thead>
                        <tr>
                            <th>
                                <div class="head-first">Sr. No</div>
                            </th>
                            <th>
                                <div class="head-other">Team Name</div>
                            </th>
                            <th>
                                <div class="head-other">Branch</div>
                            </th>
                            <th>
                                <div class="head-other">Division</div>
                            </th>
                            <th>
                                <div class="head-other">TeamLeader</div>
                            </th>
                            <th>
                                <div class="head-other">Status</div>
                            </th>
                            <th>
                                <div class="head-last">Action</div>
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr
                  *ngFor="let h of filteredResults | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index"
                  [ngClass]="{ 'inactive-row': !h.holidayStatus }"> -->
                        <tr *ngFor="let team of filteredTeams | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage };; let i = index"
                            [ngClass]="{ 'inactive-row': !team.teamStatus }" style="max-height: 40px !important;">

                            <td>
                                <div class="tr-first-child">{{ i + 1 }}</div>
                            </td>
                            <td>
                                <div class="tr-other-child">{{ team.teamName }}</div>
                            </td>
                            <td>
                                <div class="tr-other-child">{{ team.branchName }}</div>
                            </td>

                            <td>
                                <div class="tr-other-child">
                                    {{ team.divisionName }}
                                </div>
                            </td>

                            <td>
                                <div class="tr-other-child">{{ team.teamLeaderName}}</div>
                            </td>
                            <td>
                                <div class="tr-other-child">
                                    <span class="badge status-badge"
                                        [ngClass]="team.teamStatus ? 'active' : 'inactive'">
                                        {{ team.teamStatus ? 'Active' : 'Inactive' }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="tr-last-child">
                                    <button class="ebtn btn-sm edit-btn me-2" (click)="onEdit(team)"
                                        data-bs-toggle="modal" data-bs-target="#teamModal">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="ebtn btn-sm edit-btn me-2" (click)="onView(team)"
                                        data-bs-toggle="modal" data-bs-target="#viewteamModal">
                                        <i class="fas fa-user-tie"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination-wrapper">
              <pagination-controls (pageChange)="currentPage = $event" [autoHide]="true"></pagination-controls>
            </div>
            </div>
        </div>
    </div>
    <!-- actual table -->
    <!-- <div class="container mt-4">
      <h2>Team Compositions</h2>
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Team ID</th>
            <th>Team Name</th>
            <th>Branch</th>
            <th>Division</th>
            <th>Team Leader</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teamCompositions">
            <td>{{ team.teamId }}</td>
            <td>{{ team.teamName }}</td>
            <td>{{ team.branchName }}</td>
            <td>{{ team.divisionName }}</td>
            <td>{{ team.teamLeaderName }}</td>
            <td>
              <span [ngClass]="team.teamStatus ? 'text-success' : 'text-danger'">
                {{ team.teamStatus ? 'Active' : 'Inactive' }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</div>