<div class="container py-5 mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card job-card p-3">
                <div class="d-flex align-items-center mb-2">
                    <div class="company-logo">
                        <i class="fa-regular fa-clock fa-xl"></i>
                    </div>
                    
                    <div class="d-flex justify-content-between w-100">
                        <div>
                            <h6 class="mb-0 font-weight-bold">Dashboard Login Time</h6>
                            <!-- <small class="text-muted">1 days ago</small> -->
                        </div>
                        <span class="badge badge-pill job-tag" style="background-color: #c5edee; color: #59aaa9;">Active</span>
                    </div>
                </div>
                <h5 class="font-weight-normal mb-2">04-03-2025 12:00 PM</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card job-card p-3">
                <div class="d-flex align-items-center mb-2">
                    <div class="company-logo">
                        <i class="fa-regular fa-clock fa-xl"></i>
                    </div>
                    
                    <div class="d-flex justify-content-between w-100">
                        <div>
                            <h6 class="mb-0 font-weight-bold">System Login Information</h6>
                            <!-- <small class="text-muted">1 days ago</small> -->
                        </div>
                        <span class="badge badge-pill job-tag" style="background-color: #c5edee; color: #59aaa9;">Active</span>
                    </div>
                </div>
                <h5 class="font-weight-normal mb-2">04-03-2025 12:00 PM</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card job-card p-3">
                <div class="d-flex align-items-center mb-2">
                    <div class="company-logo">
                        <i class="fa-regular fa-user fa-large"></i>
                    </div>
                    
                    <div class="d-flex justify-content-between w-100">
                        <div>
                            <h6 class="mb-0 font-weight-bold">Total No of Employees</h6>
                            <!-- <small class="text-muted">1 days ago</small> -->
                        </div>
                        <span class="ham"><i class="fa-solid fa-ellipsis-vertical fa-xl"></i></span>
                    </div>
                </div>
                <h5 class="font-weight-normal mb-2">04-03-2025 12:00 PM</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

    </div>
</div>