<!--  
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Edit TimeSheet Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-2">
            <label>Activity</label>
            <input type="text" class="form-control" [(ngModel)]="model.activity" name="activity">
          </div>
          <div class="mb-2">
            <label>Sequence</label>
            <input type="text" class="form-control" [(ngModel)]="model.sequence" name="sequence">
          </div>
          <div class="mb-2">
            <label>Type</label>
            <input type="text" class="form-control" [(ngModel)]="model.type" name="type">
          </div>
          <div class="mb-2">
            <label>Part</label>
            <input type="text" class="form-control" [(ngModel)]="model.part" name="part">
          </div>
          <div class="mb-2">
            <label>Code</label>
            <input type="text" class="form-control" [(ngModel)]="model.code" name="code">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitUpdate()">Save Changes</button>
      </div>
    </div>
  </div>
</div> -->
