USE [HrModule]
GO
/****** Object:  StoredProcedure [dbo].[SP_LocationInsert]    Script Date: 5/7/2025 3:48:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_LocationInsert]

	@Fk_CityId int,
	@LocationName NVARCHAR(10),
	@LocationStatus bit,
	@CreatedBy int

As
Begin
	insert into Tbl_LocationMaster (Fk_CityId, LocationName,LocationStatus, CreatedBy, CreatedDate )
	values ( @Fk_CityId, @LocationName,@LocationStatus, @CreatedBy, GetDate());

	print 'Added Successfully';

End



