USE [HrModule]
GO
/****** Object:  StoredProcedure [dbo].[SP_LocationUpdate]    Script Date: 5/7/2025 3:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LocationUpdate]
    @LocationId INT,
    @Fk_CityId INT,
    @LocationName NVARCHAR(10),
    @LocationStatus BIT,
    @UpdatedBy INT
AS
BEGIN
    UPDATE Tbl_LocationMaster
    SET 
        Fk_CityId = @Fk_CityId,
        LocationName = @LocationName,
        LocationStatus = @LocationStatus,
        UpdatedBy = @UpdatedBy,
        UpdatedDate = GETDATE()
    WHERE LocationId = @LocationId ;
    SELECT 
        C.CityName,
        S.StateName,
        'Location Updated Successfully' AS Message
    FROM Tbl_CityMaster C
    INNER JOIN Tbl_StateMaster S ON C.Fk_StateId = S.StateId
    WHERE C.CityId = @Fk_CityId;
END