<div class="container mt-4">
  <!-- Add City Button -->
  <div class="text-end mb-3">
    <button type="button" class="btn custom-add-btn"
      data-bs-toggle="modal" data-bs-target="#cityModal" (click)="openAddModal()">
      + Add City
    </button>
  </div>
  <div class="entries-dropdown">
    <label for="entries">Show</label>
    <select id="entries" [(ngModel)]="itemsPerPage">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select>
    <span>Entries</span>
  </div>
  <div class="mb-3 row">
    <div class="input-group" style="width: 300px;">
        <span class="input-group-text" style="background-color: transparent;"><i class="fas fa-search"></i></span>
        <input type="text" id="search" class="form-control" placeholder="Search City"
               [(ngModel)]="searchText" (ngModelChange)="filterCities()" style="background-color: transparent;" >
    </div>
  </div>

  <!-- City Modal -->
  <div class="modal fade" id="cityModal" tabindex="-1" aria-labelledby="cityModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="cityModalLabel">{{ isEditMode ? 'Edit City' : 'Add New City' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="resetForm()"></button>
        </div>
        <!-- Modal Body -->
        <!-- <div class="modal-body">
          <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" class="row g-3">
            
            <div class="col-md-6">
              <label for="countryId" class="form-label">Country:</label>
              <select class="form-select" formControlName="countryId" (change)="onCountryChange()" id="countryId">
                <option value="">Select Country</option>
                <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="stateId" class="form-label">State:</label>
              <select class="form-select" formControlName="stateId" id="stateId">
                <option value="">Select State</option>
                <option *ngFor="let state of filteredStates" [value]="state.stateId">{{ state.stateName }}</option>
              </select>
            </div>

            <div class="col-md-6">
              <label for="cityName" class="form-label">City Name:</label>
              <input type="text" class="form-control" formControlName="cityName" id="cityName" />
            </div>

            <div class="col-md-6">
              <label for="cityStatus" class="form-label">Status:</label>
              <select id="cityStatus" class="form-select" formControlName="cityStatus">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
              </select>
            </div>

            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">{{ isEditMode ? 'Update' : 'Add' }}</button>
              <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal"
                (click)="resetForm()">Cancel</button>
            </div>
          </form>
        </div> -->
        <div class="modal-body">
          <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" class="row g-3">
            
            <div class="col-md-6">
              <label for="countryId" class="form-label"> Country:</label>
              <div class="input-icon-group">
                <i class="fas fa-globe"></i>
                <select class="form-select" formControlName="countryId" (change)="onCountryChange()" id="countryId">
                  <option value="">Select Country</option>
                  <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
                </select>
              </div>
            </div>
        
            <div class="col-md-6">
              <label for="stateId" class="form-label">State:</label>
              <div class="input-icon-group">
                <i class="fas fa-map-marked-alt"></i>
                <select class="form-select" formControlName="stateId" id="stateId">
                  <option value="">Select State</option>
                  <option *ngFor="let state of filteredStates" [value]="state.stateId">{{ state.stateName }}</option>
                </select>
              </div>
            </div>
        
            <div class="col-md-6">
              <label for="cityName" class="form-label">City Name:</label>
              <div class="input-icon-group">
                <i class="fas fa-city"></i>
                <input type="text" class="form-control" formControlName="cityName" id="cityName" />
              </div>
            </div>
        
            <div class="col-md-6">
              <label for="cityStatus" class="form-label"> Status:</label>
              <div class="input-icon-group">
                <i class="fas fa-toggle-on"></i>
                <select id="cityStatus" class="form-select" formControlName="cityStatus">
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>
              </div>
            </div>
        
            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">
                <i class="fas fa-check-circle"></i> {{ isEditMode ? 'Update' : 'Add' }}
              </button>
              <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" (click)="resetForm()">
                <i class="fas fa-times-circle"></i> Cancel
              </button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!-- City List -->
  <div class="row gy-4" *ngIf="cities && cities.length > 0; else noData">
    <div class="col-12">
      <div>
        <table class="mb-0">
          <!-- <thead>
            <tr>
              <th><div class="head-first">Sr. No</div></th>
              <th><div class="head-other">City Name</div></th>
              <th><div class="head-other">State</div></th>
              <th><div class="head-other">Country</div></th>
              <th><div class="head-other">Status</div></th>
              <th><div class="head-last">Action</div></th>
            </tr>
          </thead> -->
          <thead>
            <tr>
              <th><div class="head-first">Sr. No</div></th>
              <th (click)="sortCities('cityName')">
                <div class="head-other sortable">City Name  <i class="fas" [ngClass]="getSortIcon('cityName')"></i></div>
              </th>
              <th (click)="sortCities('stateName')">
                <div class="head-other sortable">State  <i class="fas" [ngClass]="getSortIcon('stateName')"></i></div>
              </th>
              <th (click)="sortCities('countryName')">
                <div class="head-other sortable">Country  <i class="fas" [ngClass]="getSortIcon('countryName')"></i></div>
              </th>
              <th (click)="sortCities('cityStatus')">
                <div class="head-other sortable">Status</div>
              </th>
              <th><div class="head-last">Action</div></th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let city of filteredCities | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; index as i" [ngClass]="{ 'inactive-row': !city.cityStatus }">
              <td><div class="tr-first-child">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</div></td>
              <td><div class="tr-other-child">{{ city.cityName }}</div></td>
              <td><div class="tr-other-child">{{ city.stateName }}</div></td>
              <td><div class="tr-other-child">{{ city.countryName }}</div></td>
              <td>
                <div class="tr-other-child">
                  <span class="badge status-badge"
                    [ngClass]="city.cityStatus ? 'active' : 'inactive'">
                    {{ city.cityStatus ? 'Active' : 'Inactive' }}
                  </span>
                </div>
              </td>
              <td>
                <div class="tr-last-child">
                  <button class="btn btn-sm edit-btn" (click)="onEdit(city)" data-bs-toggle="modal" data-bs-target="#cityModal">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-wrapper">
          <pagination-controls (pageChange)="currentPage = $event" [autoHide]="true"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

  <!-- No Data Template -->
  <ng-template #noData>
    <div class="alert alert-info text-center mt-4">No cities found.</div>
  </ng-template>
</div>
