ALTER PROCEDURE [dbo].[sp_InsertFamilyMember]
    @Fk_FamilyMemberTypeId INT,
    @EmployeeCode NVARCHAR(50),
    @FamilyMemberName NCHAR(75),
    @BirthDate DATE,
    @Age INT,
    @RelationWithEmployee NCHAR(75),
    @FamilyStatus BIT
AS
BEGIN
    DECLARE @EmployeeId INT;

    -- Get the Employee ID based on the code
    SELECT @EmployeeId = Id 
    FROM Tbl_Employee_master 
    WHERE Code = @EmployeeCode;

    -- If employee does not exist
    IF @EmployeeId IS NULL
    BEGIN
        RAISERROR('Invalid Employee Code', 16, 1);
        RETURN;
    END

    -- Check if same FamilyMemberType already exists for this employee
    IF EXISTS (
        SELECT 1 
        FROM Tbl_FamilyMaster 
        WHERE Fk_Id = @EmployeeId 
          AND Fk_FamilyMemberTypeId = @Fk_FamilyMemberTypeId
    )
    BEGIN
        RAISERROR('This family member type already exists for this employee.', 16, 1);
        RETURN;
    END

    -- Insert if no duplicate
    INSERT INTO [dbo].[Tbl_FamilyMaster] (
        Fk_FamilyMemberTypeId,
        Fk_Id,
        FamilyMemberName,
        BirthDate,
        Age,
        RelationWithEmployee,
        CreatedDate,
        FamilyStatus
    )
    VALUES (
        @Fk_FamilyMemberTypeId,
        @EmployeeId,
        @FamilyMemberName,
        @BirthDate,
        @Age,
        @RelationWithEmployee,
        GETDATE(),
        @FamilyStatus
    );
END;







EXEC [dbo].[sp_InsertFamilyMember]
    @Fk_FamilyMemberTypeId = 1,             
    @EmployeeCode = 'EMP25455',               
    @FamilyMemberName = N'Raj Sharma',    
    @BirthDate = '1960-04-15',             
    @Age = 65,                              
    @RelationWithEmployee = N'Guardian',      
    @FamilyStatus = 1;    



