ALTER PROCEDURE [dbo].[SP_ApproveRequest]
    @RequestId INT,
    @EmpCode NVARCHAR(50), -- Approver's employee code
    @Comment NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ApproverId INT;
    DECLARE @TargetEmpId INT;
    DECLARE @TargetEmpCode NVARCHAR(50);
    DECLARE @RequestByEmpId INT;

    -- Get approver's EmployeeId
    SELECT @ApproverId = Id
    FROM dbo.Tbl_Employee_master
    WHERE Code = @EmpCode;

    -- Get the target employee and requester
    SELECT 
        @TargetEmpId = Fk_EmpId,
        @RequestByEmpId = RequestByEmpId
    FROM dbo.Tbl_RequestMaster
    WHERE RequestId = @RequestId;

    -- Get the EmpCode of the target employee
    SELECT @TargetEmpCode = Code
    FROM dbo.Tbl_Employee_master
    WHERE Id = @TargetEmpId;

    -- Approve the request
    UPDATE dbo.Tbl_RequestMaster
    SET RequestStatus = 'Approved',
        ActionDate = GETDATE(),
        Comment = @Comment,
        ActionByEmpId = @ApproverId
    WHERE RequestId = @RequestId;

    -- Activate the employee in Employee Master
    UPDATE dbo.Tbl_Employee_master
    SET LoginStatus = 1
    WHERE Id = @TargetEmpId;

    -- Activate the employee in Login Master
    UPDATE dbo.Tbl_LoginMaster
    SET LoginStatus = 1
    WHERE Fk_EmpId = @TargetEmpId;

    -- Send approval notification to the requester, referencing the target employee code
    IF @RequestByEmpId IS NOT NULL AND @TargetEmpCode IS NOT NULL
    BEGIN
        INSERT INTO dbo.Tbl_NotificationMaster (
            Fk_EmpId,
            Subject,
            Message,
            IsRead,
            IsDeleted
        )
        VALUES (
            @RequestByEmpId,
            'Request Approved',
            'Your request has been approved for employee code: ' + @TargetEmpCode + '.',
            0,
            0
        );
    END

    -- Return success message
    SELECT 'Request is Approved' AS Message;
END
