USE [HR_Module]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_RejectRequest]
    @RequestId INT,
    @EmpCode NVARCHAR(50),
    @Comment NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ActionByEmpId INT;           -- The HR who is rejecting
    DECLARE @TargetEmpId INT;             -- Fk_EmpId (employee the request is about)
    DECLARE @TargetEmpCode NVARCHAR(50);  -- EmpCode of Fk_EmpId
    DECLARE @RequesterEmpId INT;          -- RequestByEmpId (who made the request)

    -- Get the ID of the HR who is rejecting
    SELECT @ActionByEmpId = Id
    FROM dbo.Tbl_Employee_master
    WHERE Code = @EmpCode;

    -- Get Fk_EmpId and RequestByEmpId from request
    SELECT 
        @TargetEmpId = Fk_EmpId,
        @RequesterEmpId = RequestByEmpId
    FROM dbo.Tbl_RequestMaster
    WHERE RequestId = @RequestId;

    -- Get EmpCode of the target employee
    SELECT @TargetEmpCode = Code
    FROM dbo.Tbl_Employee_master
    WHERE Id = @TargetEmpId;

    IF @ActionByEmpId IS NOT NULL
    BEGIN
        -- Update the request
        UPDATE dbo.Tbl_RequestMaster
        SET RequestStatus = 'Reject',
            Comment = @Comment,
            ActionDate = GETDATE(),
            ActionByEmpId = @ActionByEmpId
        WHERE RequestId = @RequestId;

        -- Send notification to the requester (RequestByEmpId), about the target (Fk_EmpId)
        IF @RequesterEmpId IS NOT NULL AND @TargetEmpCode IS NOT NULL
        BEGIN
            INSERT INTO dbo.Tbl_NotificationMaster (
                Fk_EmpId,
                Subject,
                Message,
                IsRead,
                IsDeleted
            )
            VALUES (
                @RequesterEmpId,
                'Request Rejected',
                'Your request was rejected for employee code: ' + @TargetEmpCode + '. Reason: ' + @Comment,
                0,
                0
            );
        END
    END
END
