<div class="container mt-4">
  <!-- Add Country Button -->
  <div class="text-end mb-3">
    <button type="button" class="btn  custom-add-btn" data-bs-toggle="modal" data-bs-target="#countryModal"
      (click)="openAddModal()">
      + Add Country
    </button>
  </div>
  <div class="entries-dropdown">
    <label for="entries">Show</label>
    <select id="entries" [(ngModel)]="itemsPerPage">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select>
    <span>Entries</span>
  </div>
  <div class="mb-3 row">
    <div class="input-group" style="width: 300px;">
      <span class="input-group-text" style="background-color: transparent;"><i class="fas fa-search"></i></span>
      <input type="text" id="search" class="form-control" placeholder="Search Country" [(ngModel)]="searchText"
        (ngModelChange)="filterCountries()" style="background-color: transparent;">
    </div>
  </div>

  <!-- Country Modal -->
  <div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title" id="countryModalLabel">{{ isEditMode ? 'Edit Country' : 'Add New Country' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="resetForm()"></button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <form [formGroup]="countryForm" (ngSubmit)="onSubmit()" class="row g-3">
            <!-- Country Name -->
            <div class="col-md-12">
              <label for="countryName" class="form-label">Country Name:</label>
              <div class="input-icon-group">
                <i class="fas fa-globe"></i>
                <input type="text" id="countryName" class="form-control"
                  [ngClass]="{ 'is-invalid': countryForm.get('countryName')?.touched && countryForm.get('countryName')?.invalid }"
                  formControlName="countryName" />
              </div>
              <div *ngIf="countryForm.get('countryName')?.touched && countryForm.get('countryName')?.invalid"
                class="text-danger">
                <div *ngIf="countryForm.get('countryName')?.errors?.['required']">Country Name is required.</div>
                <div *ngIf="countryForm.get('countryName')?.errors?.['maxlength']">Maximum 100 characters allowed.</div>
              </div>
            </div>

            <!-- Country Code -->
            <div class="col-md-12">
              <label for="countryCode" class="form-label">Country Code:</label>
              <div class="input-icon-group">
                <i class="fa-solid fa-location-crosshairs"></i>
                <input type="text" id="countryCode" class="form-control"
                  [ngClass]="{ 'is-invalid': countryForm.get('countryCode')?.touched && countryForm.get('countryCode')?.invalid }"
                  formControlName="countryCode" />
              </div>
              <div *ngIf="countryForm.get('countryCode')?.touched && countryForm.get('countryCode')?.invalid"
                class="text-danger">
                <div *ngIf="countryForm.get('countryCode')?.errors?.['required']">Country Code is required.</div>
                <div *ngIf="countryForm.get('countryCode')?.errors?.['maxlength']">Maximum 10 characters allowed.</div>
                <!-- <div *ngIf="countryForm.get('countryCode')?.errors?.['pattern']">Enter 2–3 uppercase letters (e.g., IN,
                  USA).</div> -->
              </div>
            </div>


            <div class="col-12" *ngIf="isEditMode">
              <label for="status" class="form-label">Status:</label>
              <div class="input-icon-group">
                <i class="fas fa-toggle-on"></i>
                <select id="status" class="form-control" formControlName="status">
                  <option value="1">Active</option>
                  <option value="0">Inactive</option>
                </select>
              </div>
            </div>

            <div class="col-12 d-flex justify-content-end">
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">{{ isEditMode ? 'Update' : 'Add'
                }}</button>
              <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal"
                (click)="resetForm()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row gy-4" *ngIf="countries && countries.length > 0; else noData">
    <div class="col-12">


      <div>
        <table class="mb-0">
          <thead>
            <tr>
              <th>
                <div class="head-first">Sr. No</div>
              </th>
              <th (click)="sortCountries('countryName')">
                <div class="head-other">Country Name <i class="fas" [ngClass]="getSortIcon('countryName')"></i></div>
              </th>
              <th (click)="sortCountries('countryCode')">
                <div class="head-other">Country Code <i class="fas" [ngClass]="getSortIcon('countryCode')"></i></div>
              </th>
              <th>
                <div class="head-other">Status</div>
              </th>
              <th>
                <div class="head-last">Action</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let country of filteredCountries | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; index as i"
              [ngClass]="{'inactive-row': !country.countryStatus}">
              <td>
                <div class="tr-first-child">{{ (currentPage - 1) * itemsPerPage + i + 1 }}</div>
              </td>
              <td>
                <div class="tr-other-child">{{ country.countryName }}</div>
              </td>
              <td>
                <div class="tr-other-child">{{ country.countryCode }}</div>
              </td>
              <td>
                <div class="tr-other-child">
                  <span class="badge status-badge " [ngClass]="country.countryStatus ? 'active' : 'inactive'">
                    {{ country.countryStatus ? 'Active' : 'Inactive' }}
                  </span>
                </div>
              </td>
              <td>
                <div class="tr-last-child">
                  <button class="btn btn-sm edit-btn" (click)="onEdit(country)">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-wrapper">
          <pagination-controls (pageChange)="currentPage = $event" [autoHide]="true"></pagination-controls>
        </div>

      </div>
    </div>
  </div>

  <!-- No Data Template -->
  <ng-template #noData>
    <div class="alert alert-info text-center mt-4">No countries found.</div>
  </ng-template>
</div>