<div class="card">
  <div class="card-body">
    <table style="width: 100%">
      <tbody>
        <tr>
          <td>
            <div>
              <h6>Employee Name<span style="color: red">*</span></h6>
            </div>
          </td>
          <td>
            <select class="form-select">
              <option value="">Select Employee Name</option>
              <option></option>
            </select>
          </td>
          <td><div>&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
          <td>
            <div>
              <h6>from<span style="color: red">*</span></h6>
            </div>
          </td>
          <td>
            <div><input type="date" class="form-control" /></div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><div>&nbsp;&nbsp;&nbsp;&nbsp;</div></td>
          <td>
            <div>
              <h6>to<span style="color: red">*</span></h6>
            </div>
          </td>
          <td>
            <div><input type="date" class="form-control" /></div>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="card-text"></p>
    <a
      href="#"
      class="btn btn-primary"
      style="background-color: rgb(11, 210, 236); border: none"
      >View Details</a
    >
  </div>

  <div class="card">
    <h6 class="card-header">Edit Timesheet Details</h6>
    <div class="card-body">
      <!-- <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <h6>Show</h6>
                            </div>
                        </td>
                        <td>
                            <select class="form-select">
                            <option value="1">1</option>
                            <option></option>
                            </select>
                        </td>
                        <td>
                            <div>
                                <h6>search</h6>
                            </div>
                        </td>
                        
                        <td>
                            <div></div>
                        </td>
                    </tr>
                </tbody>
            </table> -->
      <div class="row">
        <div class="col-1">Show</div>
        <div class="col-1">
          <select class="form-select">
            <option value="1">1</option>
            <option></option>
          </select>
        </div>
        <div class="col-1">entries</div>
        <div class="col-6"></div>
        <div class="col-1">Search</div>
        <div class="col-2">
          <input class="form-control" />
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Timesheet Master Start Time</th>
            <th scope="col">Timesheet Master End Time</th>
            <th scope="col">Timesheet Master Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>John</td>
            <td>Doe</td>
            <td>social</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="row">show entries</th>
            <td></td>
            <td></td>
            <td></td>
            <button type="button" class="btn btn-outline-dark">Previous</button>
            <button type="button" class="btn btn-outline-dark">Next</button>
          </tr>
        </tfoot>
      </table>

      <p class="card-text"></p>
    </div>
  </div>
  <button (click)="punchIn()">PunchIn</button>
  <button (click)="punchOut()">PunchOut</button>
</div>
