<div class="container">
  <div class="section-header"><h5>ACTIVITY TIME SHEET</h5></div>

  <div class="mb-3">
    <button
      class="btn custom-add-btn"
      [disabled]="sessionStatus != null"
      (click)="punchIn()"
    >
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
      Punch-In
    </button>
    <button
      class="btn custom-add-btn2"
      [disabled]="sessionStatus == null"
      (click)="punchOut()"
    >
      ✖ Punch-Out
    </button>
  </div>

  <div class="table-wrapper">
    <button
      class="btn custom-add-btn"
      *ngIf="sessionStatus !== null"
      (click)="toggleCompleted()"
    >
      {{ showCompleted ? "Hide Completed" : "Show Completed" }}
    </button>
    <table class="table table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <th>Sr.No</th>
          <th>Job No</th>
          <th>Sequence</th>
          <th>Part</th>
          <th>Activity</th>
          <th>Type</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Hrs</th>
          <th>Min</th>
          <th>Remarks</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody *ngIf="sessionStatus === null">
        <tr>
          <td colspan="13">Punch in first</td>
        </tr>
      </tbody>

      <tbody *ngIf="sessionStatus !== null">
        <tr *ngIf="timeSheets.length === 0">
          <td colspan="13">No Data Found !!!</td>
        </tr>

        <ng-container *ngFor="let timesheet of timeSheets; let i = index">
          <tr
            *ngIf="
              showCompleted ? timesheet.endTime : timesheet.endTime == null
            "
          >
            <td>{{ i + 1 }}</td>
            <td>{{ timesheet.projectId }}</td>
            <td>{{ timesheet.sequence }}</td>
            <td>{{ timesheet.part }}</td>
            <td>{{ timesheet.activity }}</td>
            <td>{{ timesheet.type }}</td>
            <td>{{ timesheet.startTime | date : "short" }}</td>
            <td>{{ timesheet.endTime | date : "short" }}</td>
            <td>{{ timesheet.hrs }}</td>
            <td>{{ timesheet.min }}</td>
            <td>--</td>
            <td>
              <button
                class="btn btn-info btn-sm"
                (click)="toggleEditForm(timesheet.id)"
              >
                Edit
              </button>
            </td>
          </tr>

          <tr *ngIf="editFormData.id === timesheet.id">
            <td colspan="13">
              <form>
                <div class="row">
                  <div class="col-md-4">
                    <label>Start Time:</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [(ngModel)]="editFormData.startTime"
                      name="editStartTime"
                      (change)="onEditTimeChange()"
                    />
                  </div>
                  <div class="col-md-4">
                    <label>End Time:</label>
                    <input
                      type="datetime-local"
                      class="form-control"
                      [(ngModel)]="editFormData.endTime"
                      name="editEndTime"
                      (change)="onEditTimeChange()"
                    />
                  </div>
                  <div class="col-md-4 d-flex align-items-end gap-2">
                    <div class="me-auto">
                      <strong
                        *ngIf="
                          editFormData.Hrs !== null &&
                          editFormData.Mins !== null
                        "
                      >
                        {{ editFormData.Hrs }}h {{ editFormData.Mins }}m
                      </strong>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-success"
                      (click)="submitEditForm()"
                    >
                      Submit
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="toggleEditForm(i)"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
