<div class="container mt-4">
  <div class="section-header">ACTIVITY TIME SHEET</div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <button class="btn btn-secondary btn-sm btn-custom">🖨️ PRINT</button>
      <button class="btn btn-secondary btn-sm btn-custom">
        ✉️ REQUEST FOR BACKDATE
      </button>
      <button class="btn btn-secondary btn-sm btn-custom">
        👁️ BACKDATED VIEW
      </button>
    </div>
  </div>

  <div class="mb-3">
    <button
      class="btn btn-primary btn-sm btn-custom"
      [disabled]="sessionStatus != null"
      (click)="punchIn()"
    >
      Punch-In
    </button>
    <button
      class="btn btn-danger btn-sm btn-custom"
      [disabled]="sessionStatus == null"
      (click)="punchOut()"
    >
      ✖ Punch-Out
    </button>
  </div>

  <div class="table-wrapper">
    <table class="table table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <th>Sr.No</th>
          <th>Job No</th>
          <th>Sequence</th>
          <th>Part</th>
          <th>Activity</th>
          <th>Type</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Hrs</th>
          <th>Min</th>
          <th>Remarks</th>
          <th>Split</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="timeSheets.length === 0">
          <td colspan="13">No Data Found !!!</td>
        </tr>

        <tr *ngFor="let timesheet of timeSheets; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ timesheet.jobId }}</td>
          <td>{{ timesheet.sequence }}</td>
          <td>{{ timesheet.part }}</td>
          <td>{{ timesheet.activity }}</td>
          <td>{{ timesheet.type }}</td>
          <td>{{ timesheet.startTime | date : "short" }}</td>
          <td>{{ timesheet.endTime | date : "short" }}</td>
          <td>{{ timesheet.hrs }}</td>
          <td>{{ timesheet.min }}</td>
          <td>--</td>
          <td>
            <button class="btn btn-warning btn-sm">Split</button>
          </td>
          <td>
            <button class="btn btn-info btn-sm">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
