.custom-add-btn{
    background-color: #5b7cfd;
    color: white;
    margin: 8px;

  }
  .custom-add-btn2{
    background-color: #f7471b;
    color: white;
    margin: 8px;

  }
  .custom-add-btn3{
    background-color: #5b7cfd;
    color: white;
    padding: 5px;
  }
  .custom-add-btn:hover{
    box-shadow: #555 0px 0px 10px;
  }
  .custom-sub-btn{
    background-color: #4b9944;
    color: white;
    margin: 8px;

  }
  .custom-sub-btn:hover{
    box-shadow: #555 0px 0px 10px;
  }


  .custom-rounded-table {
    /* border-collapse: separate; */
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden; /* Ensures child elements don't overflow the border radius */
  }
  
  .custom-rounded-table th:first-child {
    border-top-left-radius: 10px;
  }
  
  .custom-rounded-table th:last-child {
    border-top-right-radius: 10px;
  }
  
  .custom-rounded-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .custom-rounded-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  